html.welcome{
    background: url(../img/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
html, body {
    min-height: 100% !important;
}

body{
    font-family: "Open Sans", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

body.home{
    background: rgba(0,0,0,.7);
}

section.welcome{
    color: #fff;
    font-size: 30px;    
}

section.welcome h1{
    font-size: 60px;
}

@media (min-width: 768px) {
    section.welcome h1{
        font-size: 80px;
    }
}

header{
    background-color: #fff;
    font-size: 18px; 
    line-height: 50px;
    border-bottom: 1px solid #70B33F;
    max-height: 80px;
}

header.home{
    background-color: transparent;
}

.container{
    vertical-align: middle;
    height: 100% !important;
}


header .container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-profile{
    max-width:50px;
    display: inline-block;
    vertical-align: middle;
}


.sign-up{
    background: rgba(0,0,0,.5);
    color: #fff;
}

.j-form{
    width: 100%;
    font-size: 16px;
}

input[type="email"].j-form, 
input[type="text"].j-form, 
input[type="password"].j-form,
input[type="date"].j-form,
input[type="time"].j-form,
textarea.j-form{
    padding: 8px 12px;
    line-height: 1.467;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid #70B33F;
    color: #000;
    background: #fff;
}

button.j-form, a.j-form{
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 8px 12px;
    line-height: 1.467;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid #70B33F;
    color: #70B33F;
    background: #fff;
}

button.j-form:hover, a.j-form:hover{
    font-weight: 600;
    padding: 8px 12px;
    line-height: 1.467;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid #70B33F;
    color: #fff;
    background: #70B33F;
    text-decoration: none;
}

.j-form-xs{
    font-weight: 600;
    /*text-transform: uppercase;*/
    padding: 5px 5px;
    line-height: 1.467;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid #70B33F;
    color: #70B33F;
    background: #fff;
}

.j-form-xs:hover{
    cursor: pointer;
    font-weight: 600;
    /*text-transform: uppercase;*/
    padding: 5px 5px;
    line-height: 1.467;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid #70B33F;
    color: #fff;
    background: #70B33F;
    text-decoration: none;
}

.side-new h4{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

span.want{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 2.3;
}

span.form{
    font-size: 20px;
    line-height: 2.3;
}

.j-form-error{
    border: 2px solid #ef4b25 !important;
}

.facebook{
    background: #3B5998 !important;
    color: #fff !important;
    border-color: #fff !important;
}

.facebook:hover{
    border-color: #3B5998 !important;
    color: #3B5998 !important;
    background: #fff !important;
}

p.separator{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #666;
}

:-moz-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}

:-ms-input-placeholder {  
    color: #666;
}

.popover-content{
    color: #ef4b25 !important;
}

.ui-menu{
    background: #fff;
    border: 3px solid #70B33F;
    border-top: none;
}

.ui-menu div{
    font-size: 14px;
}

.ui-menu div:hover{
    font-size: 14px;
}

.margin-top{
    margin-top: 20px;
}

.date{
    background-color: #fff;
    color: coral;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    min-height: 125px;
}

.date span{
    display: block;
}

span.number{
    font-size: 56px;
}

span.month{
    font-size: 16px;
}

.evento{
    margin-top: 5px;
}

.evento p {
    line-height: 1;
}

.evento span{
}

.mapa{
    background-image: url('../img/maps.png');
    min-height: 125px;
}

.menu-top {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.prox-principal-data{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: coral;
}

.nome-prox-evento{
    margin-top: 10px;
}

.date-prox-evento{
    padding: 0px !important;
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .glyphicon {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

.forum .forum-post-panel {
    margin-bottom: 1em;
}

.forum.media-list li img.avatar {
    display: block;
    margin: 0 auto;
}

.forum.media-list li .user-info {
    text-align: center;
    width: 8em;
}

@media (max-width: 760px) {
    .forum.media-list li .user-info {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
}

a, a:hover, a:active, a:visited{
    color: #70B33F;
}

.text-jj{
    color: coral;
}

a.btn-j{
    border: 2px solid #70B33F;
    color: #70B33F;
    border-radius: 0px !important;
}

a.btn-j:hover{
    border: 2px solid #70B33F;
    background-color: #70B33F;
    color: #fff;
    border-radius: 0px !important;
}

form.principal{
    color: coral;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.input-principal{
    display: inline !important;
}

.input-principal input.j-form{
    width: auto !important;
}

.principal button.j-form{
    width: auto !important;
    padding: 8px 30px;
}

a.dropdown-toggle{
    cursor: pointer;
}

.profile p{
    font-size: 20px;
}

.profile{
    padding-bottom: 10px;
    border-bottom: 1px coral solid;
}

img.mapa{
    margin-top: 5px;
    border: 2px solid coral;
}

ol.breadcrumb{
    background-color: transparent;
    margin: 0px !important;
}

/*header .fa{
    font-size: 18px;
}*/

.amigos{
    border: 2px solid coral;
    margin-bottom: 15px;
    height: auto;
}

.nome-amigo{
    display: inline;
}

.img-margin{
    margin: 5px;
}

.comment{
    padding: 4px 12px !important;
}

.dropdown-menu{
    border-radius: none; 
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid coral;
    border-radius: 0;
}

.dropdown-menu .divider{
    background-color: coral;
}

.nav-tabs {
    border-bottom: 1px solid coral;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: 1px solid coral;
    border-bottom-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.nav-tabs > li > a:hover {
    border-color: coral;
}

.amigos-botoes, .amigos-botoes div{
}

.hidden{
    visibility: 0;
}

#pedido div{
    -webkit-transition: visibility 0.8s;
    -moz-transition: visibility 0.8s;
    transition: visibility 0.8s;
}

div.alert{
    border-radius: 0px;
    background: #fff;
}

div.alert.alert-warning{
    border-color: coral;
    color: coral;
}

div.alert.alert-success{
    border-color: #70B33F;
    color: #70B33F;
}

div.bootstrap-select button{
    margin-top: 5px;
    border-radius: 0px;
}